doctype html
html(lang="en")
  head
    include ../partials/head
  body.login
    .form-container 
      h1 Sign in - UpTask
      //pre=vardump(name)
      if locals.flash
        .alerts
          each category in Object.keys(locals.flash)
            each error in flash[category]
              .alert(class=`${category}`)
                p= error
      form#form.box.login-box(method="POST" action="/auth/login")
        .field
          label(for="email") Email
          input#email(type="email" name="email" placeholder="Email")
        .field
          label(for="password") Password
          input#password(type="password" name="password" placeholder="Password" )
        .field.send
          input#submit(type="submit" value="Login" class="button")
        .field.actions
          a(href="/auth/register") Do you not have an account?
          a(href="/auth/forgot") Forgot your password?
    script(src="/dist/bundle.js")