extends layout 
include mixins/form

block content 
    .main-content 
        h1 #{nameProject}
        
        if errors 
            each error in errors 
                .alert.error= error.msg
        +form(project) 