doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="icon" href="https://jazmindominguez.github.io/Portafolio/src/assets/node-js-512.png", attr)
        link(rel="stylesheet" href="/css/app.css")
        link(rel="stylesheet" href="/css/normalize.css")
        title #{nameProject} 
    body 
        header.bar
            h1 UpTask-Project Administrator
            a(href="#") Logout 

        main.content 
            aside.project-container
                .panel.create-project
                    a(href="/new-project" class="button") New Project 
                        span +
                .panel.project-list 
                    h2 Projects 
                    ul#projects.projects
                        if (projects.length)
                            each project in projects 
                                li 
                                    a(href="")= project.name  
                                    p= project.description
            block content 