html(lang="en")
    head
        title Reset Password
        
    body
        h1 Reset Password
        p
            | Please enter your new password below.
        form(method="post" action="/resetPassword")
            input(type="hidden" name="token" value=token)
            input(type="password" name="password" placeholder="New Password")
            input(type="password" name="passwordConfirm" placeholder="Confirm Password")
            input(type="submit" value="Reset Password")
        p
            | If you did not request a password reset, you can safely ignore this email.
        p
            | If you have any questions, please contact us at <a href="mailto: